<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" [src]="imageURL">
  <!--<div class="imgHome" [style.backgroundImage]="'url('+imageURL+')'"></div>-->
</div>

<!-- array de imagens -->
<img width="300" height="300" *ngFor="let imagem of imagens" [src]="imagem ">

<!-- chamar a função de adicionar imagens -->
<button type="button" name="button" (click)="adicionarImagem()">
  Adicionar imagem
</button>

<router-outlet></router-outlet>
