<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" [src]="imageURL"> -->
  <!--<div class="imgHome" [style.backgroundImage]="'url('+imageURL+')'"></div>-->
  <!-- chamar a função de adicionar imagens -->
  <div style="text-align:center" *ngFor="let imagem of imagens;let i = index">
      <!-- array de imagens -->
      <a href="#" (click)="removerImagem(i)">
        <img width="300" height="300" [src]="imagem ">
      </a>
      <h1>index = {{i}}</h1>
  </div>
  <button type="button" name="button" (click)="adicionarImagem()">
    Adicionar imagem
  </button>
</div>

<router-outlet></router-outlet>
